$mainTextColor: #212121;
$textColor: #757575;
$actvbtnTextColor: #ffffff;
$portfolioBtnColor: #2196f3;
$mainBackgroundColor: #ffffff;
$backgroundColor: #2f303a;
$secondaryBackgroundColor: #f5f4fa;
$accentColor: #2196f3;
$btnhoverColor: #188ce8;
$logoColor: #000000;
$basementLogoColor: #ffffff;
$linkColor: #afb1b8;
$listItemGap: 30px;
